.contact-container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0px 20px;
}
.contact-container h2{
    max-width: 100%;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5px;
    color:var(--emphasisColor);
}
.contact-container p{
    max-width: 100%;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 20px;
}
.heading-main{
    color: var(--titleColor);
    font-size: 2rem;
    display: block;
}
.heading-sec{
    color: white;
    font-size: 1rem;
    display: block;
}
.contact-content{
    max-height: 25rem;
    max-width: 25rem;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--secondaryColor);
    padding: 20px;
}
.contact-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-field{
    padding: 5px 0px;
    width: inherit;
    height: 20%;
}
.contact-field-msg{
    padding: 5px 0px;
    width: inherit;
    min-height: 51%;
}
.contact-form label{
    display: block;
    padding: 5px 0px;
}
.contact-form input{
    height: fit-content;
    border: transparent solid 0px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: block;
}
.contact-form input::placeholder{
    color: #000;
    opacity: 0.5;
}
.contact-form .error{
    background-color: rgb(255, 144, 144);
    color: #000 !important;
}
.contact-form textarea{
    width: 100%;
    height: 80%;
    display: block;
    overflow: scroll;
    resize: none;
    border: transparent solid 0px;
    border-radius: 5px;
    padding: 10px;
}
.contact-form textarea::placeholder{
    color: #000;
    opacity: 0.5;
}
.contact-form span.error{
    color: red;
}
.contact-form button{
    width: 30%;
    height: 2rem;
    display: block;
    background-color: var(--emphasisColor);
    border-radius: 5px;
    border-style: none;
    color: var(--primaryColor);
    font-size: 1rem;
    font-weight: 600;
    align-self: flex-end;
}
.contact-container .success{
    color: greenyellow;
}
.contact-container .error{
    color: rgb(255, 144, 144);
}