
.wrapper{
    height: 88vh;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.top{
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
    padding: 0px 10px;
    font-weight: 50;
    font-family: math;
}
.top h2{
    font-size: 10vw;
    padding: 0px 10px;
}
.top h5{
    height: 5vh;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture {
    grid-column: 4 / span 4;
    grid-row: 1 / span 4;
    border-radius: 30%;
    background: transparent;
    align-self: end;
    padding: 10px;
    max-height: 70vh;
}
.bottom{
    grid-column: 1 / span 4;
    grid-row: 5;
    padding: 0px 10px;
    font-weight: 50;
    font-family: math;
}
.bottom h5{
    font-size: 1.7vw;
}
.bottom .links a svg{
    height: auto;
    width: 6vw;
    padding: 0px 5px;
}
.bottom .links a{
    text-decoration: none;
    color: var(--textColor);
}

.circle img {
    height: auto;
    width: 100%;
    border-radius: 10%;
    /* display: inline-block; */
    border:1px solid rgba(255,255,255,0);
    /* position: absolute; */
    right: 0;
}

.circle:after {
    content: "";
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--gradient1) 65%, var(--gradient3) 70%,var(--gradient3) 100%);
    /* background: radial-gradient(ellipse at center, var(--gradient1) 50%,var(--gradient3) 75%); */
    /* background: radial-gradient(closest-side at center, var(--gradient1) 70%, var(--gradient2) 95%,var(--gradient3) 100%); */
    border-radius: 10%;
    right: 0;
}

@media screen and (max-aspect-ratio: 4 / 6) {
    .wrapper{
        display: block;
    }
    .top{
        display: block;
    }
    .top h2{
        display: inline-block;
    }
    .top h5{
        font-size: 3vw;
    }
    .picture {
        display: block;
    }
    .bottom{
        display: block;
    }
    .bottom h5{
        font-size: 3vw;
    }
    .bottom .links svg{
        height: auto;
        width: 12vw;
        padding: 0px 5px;
    }
}