*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primaryColor:rgb(20, 20, 20);
  --secondaryColor:rgb(48, 48, 48);
  --tertiaryColor:rgb(48, 48, 48);
  --emphasisColor:lightsteelblue;
  --textColor:white;
  --gradient1:rgba(20, 20, 20, 0);
  --gradient2:rgba(20, 20, 20, 0.5);
  --gradient3:rgba(20, 20, 20, 1);
}

body{
  background-color: var(--primaryColor);
  color: var(--textColor);
  height: 95vh;
  min-height: 90vh;
}

footer{
  position: fixed;
  height: 50px;
  width: 100vw;
  bottom: 0;
  background-color: var(--tertiaryColor);
  color: var(--textColor);;
}