*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primaryColor:rgb(20, 20, 20);
  --secondaryColor:rgb(48, 48, 48);
  --tertiaryColor:rgb(48, 48, 48);
  --emphasisColor:lightsteelblue;
  --titleColor:lightsteelblue;
  --textColor:white;
  --gradient1:rgba(20, 20, 20, 0);
  --gradient2:rgba(20, 20, 20, 0.5);
  --gradient3:rgba(20, 20, 20, 1);
}

body{
  background-color: var(--primaryColor);
  color: var(--textColor);
  height: 100vh;
  width: 100vw;
}

.container{
  padding-top: 10vh;
  min-height: 100vh;
  min-width: 100vw;
}

footer{
  display: flex;
  position: relative;
  align-self: end;
  bottom: 0;
  height: 50px;
  width: 100vw;
  background-color: var(--tertiaryColor);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
}